#============= migrate_legacy_obb_data ==============
allow migrate_legacy_obb_data apk_data_file:file read;
allow migrate_legacy_obb_data dalvikcache_data_file:file { read write };
